.parteSuperior{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 35px;
  box-sizing: border-box;
}

.app{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnEscolhePergunta{
 
}

.btnEscolhePergunta:hover{
 
}

.ladoEsquerdo{
  width: 50%;

}

.ladoDireito{

  width: 50%;
}

img{
  width: 250px;
  height: 350px;
}

.letras{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.letra{
  width: 50px;
  height: 50px;
  margin-left: 25px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  background-color: rgb(195, 214, 255);
  font-size: 18px;
  color: rgb(83, 128, 197);
  cursor: pointer;
  font-weight: bold;
}

.letraAcertou{
  width: 50px;
  height: 50px;
  margin-left: 25px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  background-color: rgba(37, 225, 12, 0.699);
  font-size: 18px;
  color: white;
  cursor: initial;
}

.letraErrou{
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    background-color: rgb(238, 69, 13);
    font-size: 18px;
    color: white;
}

.letra:hover{
  background-color: rgb(69, 145, 232);
  color: white;
  transition: .5s;
}

.chute{
  margin-top: 15px;
}

input{
  margin-right: 30px;
  height: 25px;
  width: 250px;
}

.palavra{
  font-family: Roboto;
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 500;
}

.containerPalavra{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.finalizadoGanhou{
  color: green;
}

.finalizadoPerdeu{
  color: red;
}

.desabilitados{
  background-color: rgb(134, 134, 134);
  width: 50px;
  height: 50px;
  margin-left: 25px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: rgb(37, 37, 37);
}