.parteSuperior{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 35px;
  box-sizing: border-box;
}

.app{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnEscolhePergunta{
  width: 200px;
  height:50px;
  background-color: rgb(25, 165, 25);
  color: white;
  font-family: roboto;
  font-weight: 500;
  font-size: 18px;
  border: none;
  margin-top: 25px;
  border-radius: 10px;
}

.btnEscolhePergunta:hover{
  background-color: rgb(44, 189, 44);
  transition: .5s;
  cursor: pointer;
}

.ladoEsquerdo{
  width: 50%;

}

.ladoDireito{

  width: 50%;
}

img{
  width: 250px;
  height: 350px;
}

.letras{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.letra{
  width: 50px;
  height: 50px;
  margin-left: 25px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  background-color: rgb(63, 63, 63);
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.letraAcertou{
  width: 50px;
  height: 50px;
  margin-left: 25px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  background-color: rgba(37, 225, 12, 0.699);
  font-size: 18px;
  color: white;
  cursor: initial;
}

.letraErrou{
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    background-color: rgb(238, 69, 13);
    font-size: 18px;
    color: white;
    cursor: none;
}

.letra:hover{
  background-color: rgb(80, 79, 79);
  transition: .5s;
}

.chute{
  margin-top: 15px;
}

input{
  margin-right: 30px;
  height: 25px;
  width: 250px;
}

.palavra{
  font-family: Roboto;
  font-size: 25px;
  margin-bottom: 15px;
}

.containerPalavra{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jaSei{
  font-family: Roboto;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
}

.btnChutar{
  width: 80px;
  height: 40px;
  background-color: rgb(215, 226, 255);
  border: solid 1px rgb(144, 166, 229);
  border-radius: 8px;
  color: rgb(87, 113, 186);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.btnChutar:hover{
  background-color: rgb(237, 242, 255);
  transition: .5s;
}